<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- CSS File -->
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Chat Page</title>

</head>

<body>
    <div class="container content">
        <div class="row">
            <div class="col-md-6 offset-3">
                <div class="card">
                    <div class="card-header">Chat</div>
                    <div class="card-body height3">
                        <ul class="chat-list">
                            <li class="in">
                                <div class="chat-img">
                                    <img src="/static/img/darius_face.JPG" alt="Avatar">
                                </div>
                                <div class="chat-body">
                                    <div class="chat-message">
                                        <h5>Darius</h5>
                                        <p>Hi, how are you.</p>
                                    </div>
                                </div>
                            </li>

                            <li class="out">
                                <div class="chat-img">
                                    <img src="/static/img/maria.JPG" alt="Avatar">
                                </div>
                                <div class="chat-body">
                                    <div class="chat-message">
                                        <h5>Maria</h5>
                                        <p>Fine, thanks.</p>
                                    </div>
                                </div>
                            </li>

                            <li class="in">
                                <div class="chat-img">
                                    <img src="/static/img/darius_face.JPG" alt="Avatar">
                                </div>
                                <div class="chat-body">
                                    <div class="chat-message">
                                        <h5>Darius</h5>
                                        <p>Would you go to dinner with me?</p>
                                    </div>
                                </div>
                            </li>

                            <li class="out">
                                <div class="chat-img">
                                    <img src="/static/img/maria.JPG" alt="Avatar">
                                </div>
                                <div class="chat-body">
                                    <div class="chat-message">
                                        <h5>Maria</h5>
                                        <p>Yes <i class="fa fa-heart"></i></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>